/* global.css */
html,
body,
#root {
  background-color: black;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #7f1d1d; /* Equivalent to bg-rose-900 */
  border-radius: 1rem; /* Equivalent to rounded-xl */
}

/* Specific scrollbar style for elements with class 'task' */
.task::-webkit-scrollbar-thumb {
  background-color: #0ea5e9; /* Equivalent to bg-sky-500 */
  border-radius: 1rem; /* Equivalent to rounded-xl */
}